body *{
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: auto;
}

.image img{

  width: 242px;
  height: 168px;
  margin-top: 51px;
  display: flex;
  margin-bottom: 80px ;
}

.botao {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
}

.botao button {
  background-color: #0072B0;
  width: 630px;
  height: 40px;
  padding: 13px, 116px, 13px, 116px;
  border-radius: 8px;
  margin-top: 26px;
  border: none;
  color: #fff;
}

.caixa input {
  font-size: 16px;
  flex-direction: column;
  font-size: 16px;
  font-weight: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  width: 196px;
  height: 36px;
  border: 1px solid #a8a8b3;
   
  }

  .caixa{
    border: none;
  }

.pai {
    text-align: center;
    align-items: center;
  }

  .lava {
    margin-bottom: 80px;

  }

#b{
  margin-left: 15px;
  margin-right: 15px;
  }

  hr{
    width: 635px;
    height: 2px;
    margin-top: 34px;
    align-items: center;
    background-color: #0072B0;
    border: none;
  }

  .v{
    margin-top: 27px;
    color: #e73f5d;
    margin-bottom: 19px;
    text-align: start;
    width: 714px;
  }

  #lista {
    font-family: 'Poppins', sans-serif;
    width: 714px;
    height: 108px;
    font-size: 24px;
    list-style: none;
    color: #0072B0;
    text-align: start;
  }
  
  b{
    color: #00891e;
    cursor: pointer;
    
  }

